<br>
<br>

# 1. single * in python: 

<br>
<br>

In [4]:

values = [1,2,3]
print(values)

[1, 2, 3]

In [ ]:

# 1. Unpack Operator(*) in python:
print(1,2,3)
print(*values)
for i in values:
    print(i,end=" ")

1 2 3
1 2 3
1 2 3

In [ ]:

# 2. unpack Operator in function:
def sum_function(a,b,c):
    return a+b+c
print(sum_function(*values))

6

In [ ]:

# 3. store multiple value with unpack operator:
values = [1,2,3,4,5,6]
v1,*v2,v3 = values
print("v1: ",v1)
print("v2: ",v2)
print("v3: ",v3)

v1:  1
v2:  [2, 3, 4, 5]
v3:  6

In [13]:

# 4. unpack operation with list:
list1 = [1,2,3]
list2 = [4,5,6]
combine = [*list1, 'test', *list2]
print(combine)
print([list1,"test_data",list2])

[1, 2, 3, 'test', 4, 5, 6]
[[1, 2, 3], 'test_data', [4, 5, 6]]

In [17]:


# 5. *args in python:(we can give as much we parameter as we want)
def my_sum(*args):
    sum  = 0
    for i in args:
        sum +=i
    return sum 

my_sum(1,2,3,4,5,6,7,8,9,10)

55


<br>
<br>

# 2. Double ** in python:

<br>
<br>

In [21]:


# double ** in python: (it will unpack two value):
def my_dict(name,age,job):
    print(f"My name is {name}. My age is {age} and i do {job}.")
    
input = {"name":"Yasin","age":30,"job":"Programmer"}
my_dict(**input)

My name is Yasin. My age is 30 and i do Programmer.

In [22]:

input1 = {"status":"unmarried"}
combine = {**input,"age1":30 ,**input1}
print(combine)

{'name': 'Yasin', 'age': 30, 'job': 'Programmer', 'age1': 30, 'status': 'unmarried'}

In [24]:

def my_function(**kwargs):
    for k,v in kwargs.items():
        print(f"{k} ------- {v}")
        
my_function(name="yasin",role="Programmer",slary = "1 Billion USD")

name ------- yasin
role ------- Programmer
slary ------- 1 Billion USD